header{
    background-color: aquamarine;
    text-align: center;
    font-size: 35px;
    padding: 30px;
    color: blue;
}

nav{
    background-color: brown;
    padding: 10px;
}
nav ul{
    list-style-type: none;
    overflow: hidden;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: azure;
}
nav li a:hover{
    background-color: chocolate;
    
}
article{
    padding: 20px;
    width: 100%;
    background-color: aqua;
}
footer{
    padding: 20px;
    background-color:darksalmon;
    text-align: center;
    color: white;
}